{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">  <!-- a single row in an empty column -->
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">  <!-- column and row 100% height; column to the left of the screen, vertically centred (my-auto)  -->
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">  <!-- seven columns by default and six columns on medium and larger screens -->
                <h1> class="display-4 logo-font text-black">  <!-- display-4 class from Bootstrap -->
                     The new collections are here
                </h1>
                <div class="my-5">  <!-- margin -->
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>  <!-- an anchor element styled to look like a button -->
                    </h4>                                                                                         <!-- the rest from bootstrap - button, button-large, rounded-0, text- uppercase, and py-3 -->  
                </div>                                                                                            
            </div>   
        </div>
    </div>

{% endblock %}