{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">  <!-- a single row in an empty column -->
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}  <!-- to push the top of the page header down to the bottom of the main nav bar and site header -->

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">  <!-- a single row in an empty column -->
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Products</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">  <!-- products will stack on mobile and be side-by-side on small and medium screens -->
                            <div class="card h-100 border-0">  <!-- bootstrap card --> <!-- products will split into four columns on large and three columns on extra-large -->
                                {% if product.image %}  <!-- bootstrap documentation -->  <!-- the card is divided into a top, which contains our product image -->
                                <a href="">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">  <!-- body which will contain the product name -->
                                    <p class="mb-0">{{ product.name }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">  <!-- footer containing the price and rating --> 
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                                            {% if product.rating %}
                                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                            {% else %}
                                                <small class="text-muted">No Rating</small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}  <!-- the counter will always be divisible by one -->
                        <div class="col-12 d-sm-none mb-5">  <!-- the display small none class -->
                            <hr>              <!-- prevents this column from rendering on everything except extra small screens -->
                        </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:2 %}  <!-- built-in django template tags in an if statement -->
                        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">  <!-- we need to render this column on small and medium screens -->
                            <hr>  <!-- only when the iteration number of the loop is divisible by two -->
                        </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:3 %}  <!-- three products in each row -->
                        <div class="col-12 d-none d-lg-block d-xl-none mb-5">  
                            <hr>  
                        </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}  <!-- four products in each row -->
                        <div class="col-12 d-none d-xl-block mb-5">  
                            <hr>  
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}