{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">  <!-- a single row in an empty column -->
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}  <!-- to push the top of the page header down to the bottom of the main nav bar and site header -->

{% block content %}
    <div class="container">  <!-- a single row in an empty column -->
        <div class="row">
            <div class="col">
                {{ products }}
            </div>
        </div>
    </div>
{% endblock %}